.calendar {
    box-sizing: border-box;
    font-size: 1rem;
    max-width: 100vw;
    max-height: 100vh;
  }
  
  .calendar .header {
    background-color: #fafafa;
    text-align: center;
    min-height: 2rem;
    line-height: 2rem;
    color: black;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .calendar .day-names {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    margin: 0 auto;
    align-items: center;
  }
  
  .calendar .body {
    border: 1px solid gray;
  }
  
  .calendar .header .previous {
    flex: 0.5;
    text-align: left;
    margin-left: 1rem;
  }
  
  .calendar .header .next {
    flex: 0.5;
    text-align: right;
    margin-right: 1rem;
  }
  
  .calendar .week {
    background-color: white;
    width: calc(100% / 7);
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
  }
  .calendar .week div {
    width: 100%;
  }
  
  .calendar .day {
    position: relative;
    width: calc(100% / 7);
    height: 15vh;
    display: inline-block;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
    overflow-y: auto;
  }
  
  .calendar .day div {
    position: relative;
    color: black;
    z-index: 100;
   /* line-height: 44px;*/
    border: black;
    height: 100%;
  }
  
  .calendar .day div.before {
    color: gray;
  }
  
  .calendar .day div.selected {
    background-color:lightgrey;
    color: black;
    font-weight: bold;
    height: 100%;
    width: 100%;
  }
  
  .calendar .day div.today {
    background-color: gray;

  }
  .modal-wrapper{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity: 1;
  }
  .Overlay{
    display: flex;
   align-items: center;
   justify-content: center;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 100;
    background-color:rgba(255, 255, 255, 0.75);
  }
  .Modal{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:flex-start;
     flex-direction: column;
    height: 350px;
    min-height: 200px;
    width:250px ;
    background-color: white;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
    z-index: 103;
    text-align: center;
    outline:none;

  }
  .Modal_2{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:flex-start;
     flex-direction: column;
    height: 400px;
    min-height: 200px;
    width:350px ;
    background-color: white;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
    z-index: 103;
    text-align: center;
    outline:none;

  }
  .Modal__layout{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid lightgray;
      
  }
  button{
    background: rgb(113, 135, 236);
    width: 100px;
    height: 40px;
    border: 1px solid;
    font-weight: bolder;
    margin-top: 20px;
    border-color: border-box rgb(8, 30, 153);
    color: #fff;
    cursor: pointer;
    outline: none;
    margin: 10px;
  }
  input[type=text] {
    padding:10px;
    border:0;
    /*box-shadow:0 0 15px 4px rgba(0,0,0,0.06);*/
    border-bottom: 1px solid gray;
    outline-width: 0;
  }
  .modal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 100%;
  }
  .modal__section{
   height: 200px;
   width: 200px;

   overflow-y: auto;
  }
  .week{
    height: 100px;
  }
  
  .modal__time{
     display: flex;
     align-items:center ;
     justify-content: space-between;
     margin-top: 5px;
     margin-bottom: 5px;
  }
  span{
    margin-right: 10px;
  }
  a{
    text-decoration: underline;
    cursor: pointer;
  }
  .search{
      display: flex;
      align-items: center;
      justify-self:center;
      flex:content;
      margin-left: 10%;
     
  }
  .Modal_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    height: 20px;
    width: 100%;
    text-align: start;
    border-bottom: 0.5px solid lightgray;
  }
  input[type="text"]::placeholder {  
                  
    text-align: center; 
}
textarea::placeholder{
  text-align: center; 
}
.Modal_2__section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}
.Modal_2__section__info{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Modal_2__section__title{
  flex:0.3;
  margin: 3px;
}
.Modal_2__section__description{
  flex:0.5;
  margin: 3px;
  overflow: auto;
}
.Modal_2__section__time{
  flex:0.2;
  margin: 3px;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
.MuiSvgIcon-root{
  cursor: pointer;
}